*{
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 236, 236);
    /* background-color: #D6E3FA; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: "PingFang TC";
    /* border: 1px solid red; */
}

.container{
    background-color: #ffffff;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;

}

.container-1{
    /* border: 1px solid red; */
    display: flex;
    margin-top: 20px;
    width: 1200px;
    height: 60vh;   
    justify-content: center;
    align-items: center;
}

.container-1 .box{
 
    display: flexbox;
    /* background-color: rgb(170, 87, 87); */
    /* border: 1px solid red; */
    /* justify-content: center; */
    /* align-items: center; */
    
}
.container-1 .size1{
    width: 43%;
    height: 100%;
}

.container-1 .size2{
    width: 57%;
    height: 100%;
    /* margin-top: 10px; */
    
}

.size2 img{
    /* align-items: center; */
    width: 90%;
    margin-top: 40px;
}

.box .title {
    margin-top: 70px;
    margin-left: 10px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: left;
    /* border: 1px solid red; */
    font-size: 2em;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.box .slogon{
    width: 100%;
    height: 70px;
    /* line-height: 70px; */
    text-align: left;
    /* border: 1px solid red; */
    color: #869AB8;
    font-size: 25px;
    margin-left: 10px;
    font-family: 'HKGroteskPro', serif;
}

.box a{
    
    text-decoration: none;
    display: block;
    /* border: 1px solid red; */
    border-radius: 6px;
    width: 200px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    color:white;
    background-color: #335EEA;
    margin: 80px 4px 0px 10px;
    /* padding: 20px 20px; */
    /* margin-left: 100px; */
    cursor: pointer;
    position: relative;
    
}

.box a:hover{
    background-color:#1746E0;
    transition: ease;
    top: -3px;
    transition: top 1s;
}

.box img{
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid red; */
}

.container-2{
    box-sizing: border-box;
    /* background-color: #ffffff; */
    display: flex;
    width: 1200px;
    height: 30vh;  
    justify-content: space-around;
}

.container-2 .section{
    /* margin-left: 90px; */
    display: flexbox; 
    width: calc(30%);
    height: 100%;
    justify-content: space-around;
}



.little-img{
    font-size: 3.5em;
    color: #335DEA;
}

.little-title{
    font-size: 1.5em;
    color: #161B2D;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.little-slogon{
    font-size: 1.3em;
    color: #869AB8;
    font-family: 'HKGroteskPro', serif;
    ;
}